{% extends "base.html" %}
{% load i18n %}
{% load l10n %} {# the localization template tags #}
{% load tz %}
{% block head_title %}Project: {{project}}{% endblock %}
{% block title %}{{project}}{% endblock %}

{% block left %}
{% endblock %}

{% block content %}
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">        
            <h1>{{project.name}}</h1>
            {% if project.description %}                
                <span>{{project.description}}</span>
                {% endif %}
        </div>
        <div class="col-md-4">        
            <b>{% trans "Project Manager" %}</b>
            <span>{{project.user.name}}</span>
        </div>
        <div class="col-md-4">
            <b>{% trans "Soft deadline"%}</b>
            <span id="local-date">{{project.softdeadline}}</span>
        </div>
        <div class="col-md-4">
            <b>{% trans "Hard deadline"%}</b>
            <span id="local-date">{{project.harddeadline}}</span>
        </div>
        <div class="col-md-4">
            <b>{% trans "Project team" %}:</b>
            <a href="{% url 'team_edit' project.id %}" class="changelink">{% trans "Change" %}</a>
            </br>        
            {% for member in project.users.all %}
                <span>{{member.name}}</span></br>
                {% endfor %}
            <br />
        </div>
        <div class="col-md-4">
            <b>{% trans "Project tasks"%}:</b>
            </br>        
            {% if project.related_tasks.all%}
                {% for t in project.related_tasks.all %}                
                        {% if t.completed%}
                            <del>
                                <a href="{% url 'task_details' t.id %}">
                                    {{t.name}} &raquo; {{t.assigned_to.name}}</br>
                                </a>
                            </del>
                        {% elif t.due_date < date.today %}                    
                            <a href="{% url 'task_details' t.id %}" style="background-color:lightred;">
                                {{t.name}} &raquo; {{t.assigned_to.name}}</br>
                            </a>
                        {% else %}
                            <a href="{% url 'task_details' t.id %}">
                                {{t.name}} &raquo; {{t.assigned_to.name}}</br>
                            </a>
                        {% endif %}
                    {% endfor %}            
            {%else%}
                {% trans "No tasks"%} </br>
            {% endif %}
            <a href="{% url 'add_task' %}" class="changelink">{% trans "Add a task" %}</a>
        </div>
        <div class="col-md-4">
            <br />
            <a href="{% url 'projects_list' %}" class="bigger">
                {% trans "Back to the project list"%}
            </a>
        </div>
      </div>
    </div>
{% endblock %}