{% extends "base.html" %}
{% load i18n %}
{% load l10n %} {# the localization template tags #}
{% load tz %}
{% block head_title %}Project: {{project}}{% endblock %}
{% block title %}{{project}}{% endblock %}

{% block left %}
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row justify-content-left">
        <div class="col-sm-auto">
          
            <h3 class="d-flex w-100 justify-content-between align-items-center">
                {{project.name}}
            </h3>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    {% if project.description %}                
                        <p class="card-text">
                            {{project.description}}
                        </p>
                    {% endif %}
                </li>
                <li class="list-group-item">
                    <b>{% trans "Project Manager" %}</b>
                    <span>{{project.user.name}}</span>
                </li>
                <li class="list-group-item">
                   <b>{% trans "Soft deadline"%}</b>
                    <span id="local-date">{{project.softdeadline}}</span> 
                </li>
                <li class="list-group-item">
                    <b>{% trans "Hard deadline"%}</b>
                    <span id="local-date">{{project.harddeadline}}</span>
                </li>
            </ul>
          <hr>          
                <h5 class="d-flex w-100 justify-content-between align-items-center">
                    {% trans "Project team" %}
                    {% if pm %}
                    <a href="{% url 'team_edit' project.id %}" class="btn btn-sm btn-outline-secondary">
                        {% trans "Change" %}
                    </a>
                    {% endif%}
                </h5>
                
                <ul class="list-group list-group-flush">
                    {% for member in project.users.all %}
                        <li class="list-group-item">
                            {{member.name}}
                        </li>
                    {% endfor %}
                </ul>
            <hr>           
        </div>
        <div class="col col-lg-6 col-md-12 col-sm-12"> 
                <h5 >
                    {% trans "Project tasks"%}
                    <a href="{% url 'add_task' project.id %}" class="btn btn-sm btn-outline-secondary">                        
                        {% trans "Add a task" %}
                    </a>
                </h5>
                <div class="list-group">
                    {% if project.related_tasks.all%}
                        {% for t in m %}                            
                            {# output indents with &#8627; symbol to show the heirarchy #}
                            {% if t.completed%} {# check statement and #}
                                    <a class="list-group-item list-group-item-action flex-column align-items-start list-group-item-success" {%ifequal   t.owner user.employee %} href="{% url 'edit_task' t.id %}" {% else %} href="{% url 'task_details' t.id %}"
                                    {% endifequal %}>            
                                        <div class="d-flex w-100 justify-content-between">
                                            <h5 >
                                                {{t.name}}
                                                <span class="badge">
                                                    {{t.assigned_to.name}}
                                                </span>
                                            </h5>                                       
                                            <small>{{t.due_date}}</small>
                                        </div>
                            {% elif t.is_over_due %}
                                <a class="list-group-item list-group-item-action flex-column align-items-start list-group-item-danger" {%ifequal   t.owner user.employee %} href="{% url 'edit_task' t.id %}" {% else %} href="{% url 'task_details' t.id %}"
                                {% endifequal %}>
                                    <div class="d-flex w-100 justify-content-between" style="background-color:lightred;">
                                        <h5 >
                                                {{t.name}}
                                                <span class="badge">
                                                    {{t.assigned_to.name}}
                                                </span>
                                            </h5>                                       
                                            <small>{{t.due_date}}</small>
                                    </div>                                        
                            {% else %}
                                <a class="list-group-item list-group-item-action flex-column align-items-start list-group-item-warning" {%ifequal   t.owner user.employee %} href="{% url 'edit_task' t.id %}" {% else %} href="{% url 'task_details' t.id %}"
                                {% endifequal %}>
                                    <div class="d-flex w-100 justify-content-between">
                                        <h5 >
                                                {{t.name}}
                                                <span class="badge">
                                                    {{t.assigned_to.name}}
                                                </span>
                                            </h5>                                       
                                            <small>{{t.due_date}}</small>
                                    </div> 
                                {% endif %}
                            </a>
                            {% endfor %}
                    {%else%}
                        <a class="list-group-item list-group-item-action flex-column align-items-start">
                            {% trans "No tasks"%}
                        </a>
                    {% endif %}
                </div>
            {%ifequal   project.manager user.employee %} 
                <button type="button" class="btn btn-warning" href="{% url 'edit_project' project.id %}">{% trans "Edit the project"%}</button>
            {% endifequal %} 
        </div>
    </div>
       {# Comments #}
    <div class="col col-lg-6 col-md-12 col-sm-12">
        <h5>{% trans "Comments"%}</h5>
        <form id="Comment" method="POST" >      
        {% csrf_token %} 
            <div class="form-check">
                {{ comment.text }}
            </div>                
          <input value="Save" class="btn btn-primary" name="_save" type="submit" onchange="document.getElementById('Comment').submit();">
        </form>
        {# List of commetns #}
    </div>
</div>
{% endblock %}