{% extends "base.html" %}
{% load i18n %}
{% load l10n %} {# the localization template tags #}
{% load tz %}
{% block head_title %}
  {% if add%}  
  {% trans "New Task" %}
  {% else %}
  {% trans "Change Task" %}: {{task}}
  {% endif%}
{% endblock %}
{% block title %}
  {% if add%}
    {% trans "New Task" %}
  {% else %}
    {{project}}
  {% endif %}
{% endblock %}


{% block left %}
{% endblock %}

{% block content %}
  <!-- Content -->
    <div class="container-fluid">
      <form class="needs-validation" novalidate="" method="POST" >
        {% csrf_token %}
        <div id="content-main">
              {% if add%}
                <h3 class="mb-3">{% trans "New Task" %}</h3>
              {%else%}
                <h3 class="mb-3">{% trans "Change Task" %}</h3>
              {%endif%}              
                <div class="row">
                  
                  <div class="col-md-3 mb-3 col-sm-3">                    
                      {{form.assigned_to}}
                  </div>
                  <div class="col-md-6 mb-3 col-sm-6">                    
                      {{form.name}}
                  </div>
                </div>
                <div class="mb-3">
                  {{form.description}}
                </div>                
                <div class="row">
                  <div class="col-5 col-md-5 col-sm-5">
                    {{form.due_date|localize}}
                  </div> 
                  <div class="col-2 col-md-2 col-sm-2">
                    {{form.priority}}
                  </div>
                  <div class="col-5 col-md-5 col-sm-5">
                    
                  </div> 
                </div>             

        </div> {# contant-main #}
        </br>
        <div class="submit-row">
          <input value="Save" class="btn btn-primary" name="_save" type="submit" >
          {# href="{% if add %}{% url projects_list %}{% else %}{% url project_details project.id %}{% endif %}" #}
          
          <input value="Save and add another" class="btn btn-secondary" name="_addanother" type="submit">
          <input value="Save and continue editing" class="btn btn-secondary" name="_continue" type="submit">
        </div>
      </form>        
        <!-- END Container -->
    </div>

{% endblock %}
          