{% extends "base.html" %}
{% load i18n %}
{% load l10n %} {# the localization template tags #}
{% load tz %}
{% block head_title %}
  {% trans "Team of the Project" %}: {{project}}
{% endblock %}
{% block title %}
  {% trans "Team of the Project" %}: {{project}}
{% endblock %}


{% block left %}
{% endblock %}

{% block content %}
  <!-- Content -->
    <div class="container-fluid">      
      <form id="form1" method="POST" >      
        {% csrf_token %}
          <h3>
            {%trans "Team of" %} {{project.name}}:
          </h3>
            
              {% for user in users %}
                
                    <div class="form-check">
                      <label class="container1">{{ user.name }}
                         <input type="checkbox" id="{{user.id}}" name="{{user.id}}" {% if user.id in team %} checked="checked" {%endif%} {% ifequal user.id pm.id %} disabled {% endifequal %}>
                        <span class="checkmark"></span>
                      </label>
                    </div>
            
              {% endfor %}
            
          <input value="Save" class="btn btn-primary" name="_save" type="submit" onchange="document.getElementById('form1').submit();">
        </form>
        <!-- END Container -->
    </div>
{% endblock %}
          